body {
  --primary-color: rgb(20, 112, 207);
  --secondary-color: rgb(48, 87, 146);
  --tertiary-color: rgba(102, 102, 102, 1);
  --neutral-color: rgba(0, 0, 0, 0.55);

  --paper-color: rgba(247, 247, 247, 1);
  --header-background-color: rgba(252, 252, 252, 1);
  --container-background-color: rgba(255, 255, 255, 1);
  --active-background-color: rgba(51, 84, 131, 1);
  --button-color: rgb(0, 0, 0);
  --popup-background-color: rgba(75, 70, 92, 0.68);
  --menu-background-color: rgba(252, 252, 252, 1);

  --instrument-enhanced-primary-color: rgb(0, 112, 214);

  /*Text colours*/
  --text-color: rgba(51, 51, 51, 1);
  --inverted-text-color: rgba(255, 255, 255, 1);
  --active-text-color: rgba(255, 255, 255, 1);

  /*Shadow colours*/
  --shadow-color: rgba(0, 0, 0, 0.2);

  /*Switch colours*/
  --switch-active-background-color: rgba(17, 47, 100, 1);
  --switch-inactive-background-color: rgba(247, 247, 247, 1);

  /*Divider colours*/
  --divider-color: #d8d8d8;

  /*Alert colours*/
  --alert-running-color: rgb(34, 135, 34);
  --alert-caution-color: rgb(250, 217, 0);
  --alert-warning-color: rgb(246, 148, 0);
  --alert-alarm-color: rgb(223, 27, 27);
  --alert-critical-alarm-color: rgb(229, 0, 229);

  /*Border colours*/
  --border-color: rgb(216, 214, 222);
  --border-outline-color: rgba(0, 0, 0, 0.3);
  --border-edge-color: rgba(0, 0, 0, 0.05);
  --border-solid-color: rgb(51, 51, 51);
  --border-silhouette-color: rgb(247, 247, 247);
}
