body {
  --primary-color: #0f4c24;
  --secondary-color: #193422;
  --tertiary-color: rgba(94, 102, 0, 1);
  --neutral-color: rgb(66, 66, 0);

  --paper-color: rgba(13, 13, 13, 1);
  --header-background-color: rgba(0, 0, 0, 1);
  --container-background-color: rgba(41, 41, 0, 1);
  --active-background-color: rgba(94, 102, 0, 0.5);
  --button-color: rgb(0, 0, 0);
  --popup-background-color: rgba(0, 0, 0, 0.5);
  --menu-background-color: rgba(41, 41, 0, 1);

  --instrument-enhanced-primary-color: rgb(0, 77, 32);

  /*Text colours*/
  --text-color: rgba(94, 102, 0, 1);
  --inverted-text-color: rgba(41, 41, 0, 1);
  --active-text-color: rgb(0, 0, 0);

  /*Shadow colours*/
  --shadow-color: rgba(94, 102, 0, 0.5);

  /*Switch colours*/
  --switch-active-background-color: rgba(94, 102, 0, 1);
  --switch-inactive-background-color: rgba(41, 41, 0, 1);

  /*Divider colours*/
  --divider-color: rgba(71, 71, 0, 0.2);

  /*Alert colours*/
  --alert-running-color: rgb(12, 89, 0);
  --alert-caution-color: rgb(150, 130, 0);
  --alert-warning-color: rgb(161, 97, 0);
  --alert-alarm-color: rgb(172, 21, 21);
  --alert-critical-alarm-color: rgb(229, 0, 229);

  /*Border colours*/
  --border-color: rgba(94, 102, 0, 0.5);
  --border-outline-color: rgba(71, 71, 0, 0.2);
  --border-edge-color: rgba(71, 71, 0, 0.1);
  --border-solid-color: rgb(46, 46, 0);
  --border-silhouette-color: rgb(0, 0, 0);
}
